{% extends 'base.html.twig' %}

{% block title %}
	{{ subject.title }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ subject.title }}</h1>

        <hr>

        {{ subject.content | raw }}

		<h2 class="comment-title mt-5">
		   <span id="comment-count">{{ subject.comments|length }} commentaires(s)</span>	
		</h2>

		<hr>

		<div class="comment-area mb-5">
		   {{ form(commentForm) }}
		</div>

	</div>
{% endblock %}
